@charset "utf-8";

section#conteudo {
    width: 1000px;
    margin: auto;
}

iframe#framespecs {
    width: 450px;
    height: 280px;
    overflow: hidden;
}

iframe#framespecs::-webkit-scrollbar {
    display: none;
}