body {
    background-color: rgb(0, 114, 167);

}

header {
    color: white;
    text-align: center;
}

section {
    background-color: gray;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.363);
    padding: 15px;
    width: 500px;
    margin: auto;
}

footer {
    color: white;
    text-align: center;
    font-style: italic;
}