/JAVA-Basico/Aulas/PrimeiroPrograma/nbproject/private/
/JAVA-Basico/Aulas/PrimeiroPrograma/build/
/JAVA-Basico/Aulas/OlaMundoSwing/nbproject/private/
/JAVA-Basico/Aulas/TiposPrimitivos/nbproject/private/
/JAVA-Basico/Aulas/TiposPrimitivos/build/
/JAVA-Basico/Aulas/TesteTipos/nbproject/private/
/JAVA-Basico/Aulas/TesteTipos/build/
/JAVA-Basico/Aulas/SomaSwing/nbproject/private/
/JAVA-Basico/Aulas/SomaSwing/build/
/JAVA-Basico/Aulas/calculadoraIdade/nbproject/private/
/JAVA-Basico/Aulas/calculadoraIdade/build/
/JAVA-Basico/Aulas/OperadoresAritmeticos/nbproject/private/
/JAVA-Basico/Aulas/OperadoresAritmeticos/build/
/JAVA-Basico/Aulas/OperadoresSwing/nbproject/private/
/JAVA-Basico/Aulas/OperadoresSwing/build/
/JAVA-Basico/Aulas/Calculadora/nbproject/private/
/JAVA-Basico/Aulas/Calculadora/build/
/JAVA-Basico/Aulas/OperadorTernario/nbproject/private/
/JAVA-Basico/Aulas/OperadorTernario/build/
/JAVA-Basico/Aulas/ComparacaoString/nbproject/private/
/JAVA-Basico/Aulas/ComparacaoString/build/
/JAVA-Basico/Aulas/OperadoresLogicos/nbproject/private/
/JAVA-Basico/Aulas/OperadoresLogicos/build/
/JAVA-Basico/Aulas/VerificadorIdadeSwing/nbproject/private/
/JAVA-Basico/Aulas/VerificadorIdadeSwing/build/
/JAVA-Basico/Aulas/LeitorDePensamento/nbproject/private/
/JAVA-Basico/Aulas/LeitorDePensamento/build/
/JAVA-Basico/Aulas/ProgramaMedia/nbproject/private/
/JAVA-Basico/Aulas/ProogramaMedia/nbproject/private/
/JAVA-Basico/Aulas/ProogramaMedia/build/
/JAVA-Basico/Aulas/ProgramaIdade/nbproject/private/
/JAVA-Basico/Aulas/ProgramaIdade/build/
/JAVA-Basico/Aulas/ProgramaParImparSwing/nbproject/private/
/JAVA-Basico/Aulas/ProgramaParImparSwing/build/
/JAVA-Basico/Aulas/EquacaoSegundoGrau/nbproject/private/
/JAVA-Basico/Aulas/EquacaoSegundoGrau/build/
/JAVA-Basico/Aulas/VotacaoSwing/nbproject/private/
/JAVA-Basico/Aulas/VotacaoSwing/build/
/JAVA-Basico/Aulas/ProgramaPernas/nbproject/private/
/JAVA-Basico/Aulas/ProgramaPernas/build/
/JAVA-Basico/Aulas/ProjetoTriangulo/nbproject/private/
/JAVA-Basico/Aulas/ProjetoTriangulo/build/
/JAVA-Basico/Aulas/Contador01/nbproject/private/
/JAVA-Basico/Aulas/Contador01/build/
/JAVA-Basico/Aulas/Contador02/nbproject/private/
/JAVA-Basico/Aulas/Contador02/build/
/JAVA-Basico/Aulas/ProjetoFatorial/nbproject/private/
/JAVA-Basico/Aulas/ProjetoFatorial/build/
/JAVA-Basico/Aulas/Repeticao01/nbproject/private/
/JAVA-Basico/Aulas/Repeticao01/build/
/JAVA-Basico/Aulas/Numeros/nbproject/private/
/JAVA-Basico/Aulas/Numeross/nbproject/private/
/JAVA-Basico/Aulas/Numeross/build/
/JAVA-Basico/Aulas/ExercicioRepita/nbproject/private/
/JAVA-Basico/Aulas/ExercicioRepita/build/
/JAVA-Basico/Aulas/RepeticaoFor/nbproject/private/
/JAVA-Basico/Aulas/RepeticaoFor/build/
/JAVA-Basico/Aulas/Exercicio13/nbproject/private/
/JAVA-Basico/Aulas/Exercicio13/build/
/JAVA-Basico/Aulas/Vetor01/nbproject/private/
/JAVA-Basico/Aulas/Vetor01/build/
/JAVA-Basico/Aulas/Vetor02/nbproject/private/
/JAVA-Basico/Aulas/Vetor02/build/
/JAVA-Basico/Aulas/Vetor03/nbproject/private/
/JAVA-Basico/Aulas/Vetor03/build/
/JAVA-Basico/Aulas/Vetor04/nbproject/private/
/JAVA-Basico/Aulas/Vetor04/build/
/JAVA-Basico/Aulas/Vetor05/nbproject/private/
/JAVA-Basico/Aulas/Vetor05/build/
/JAVA-Basico/Aulas/ExercicioVetor/nbproject/private/
/JAVA-Basico/Aulas/ExercicioVetor/build/
/JAVA-Basico/Aulas/TesteFuncao/nbproject/private/
/JAVA-Basico/Aulas/TesteFuncao/build/
/JAVA-Basico/Aulas/TesteFuncao02/nbproject/private/
/JAVA-Basico/Aulas/TesteFuncao02/build/
/JAVA-Basico/Aulas/Funcao01/nbproject/private/
/JAVA-Basico/Aulas/Funcao01/build/
/JAVA-Basico/Aulas/Funcao02/nbproject/private/
/JAVA-Basico/Aulas/Funcao02/build/
/JAVA-POO/Aulas/Aula02/nbproject/private/
/JAVA-POO/Aulas/Aula02/build/
/JAVA-POO/Aulas/Aula03/nbproject/private/
/JAVA-POO/Aulas/Aula03/build/
/JAVA-POO/Aulas/Aula04/nbproject/private/
/JAVA-POO/Aulas/Aula04/build/
/JAVA-POO/Aulas/Aula05/nbproject/private/
/JAVA-POO/Aulas/Aula05/build/
/JAVA-POO/Aulas/Aula06/nbproject/private/
/JAVA-POO/Aulas/Aula06/build/
/JAVA-POO/Aulas/UltraEmojiCombat/nbproject/private/
/JAVA-POO/Aulas/UltraEmojiCombat/build/
/JAVA-POO/Aulas/ProjetoLivro/nbproject/private/
/JAVA-POO/Aulas/ProjetoLivro/build/
/JAVA-POO/Aulas/ProgramaPessoas/nbproject/private/
/JAVA-POO/Aulas/ProgramaPessoas/build/
/JAVA-POO/Aulas/Aula11/nbproject/private/
/JAVA-POO/Aulas/Aula11/build/
/JAVA-POO/Aulas/Aula12/nbproject/private/
/JAVA-POO/Aulas/Aula12/build/
/JAVA-POO/Aulas/Aula13/nbproject/private/
/JAVA-POO/Aulas/Aula13/build/
/JAVA-POO/Aulas/ProjetoYoutube/nbproject/private/
/JAVA-POO/Aulas/ProjetoYoutube/build/
