body {
    background-color: darkgray;
}

header {
    color: white;
    text-align: center;
}

section {
    background-color: lightgray;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.363);
    padding: 15px;
    width: 500px;
    margin: auto;
}

footer {
    color: white;
    text-align: center;
    font-style: italic;
}